.books {
  margin-top: 7.2rem;
}

.header {
  margin-bottom: 6.4rem;
}

.bookTitle {
  color: var(--color-primary-contrast);
}

.descriptionWrapper {
  display: flex;
  margin-bottom: 5.6rem;
}

.left {
  flex: 0 0 16rem;
  margin-right: 2.4rem;
}

.right {
  padding: 1.6rem;
  flex: 1;
  padding-top: 0;
}

.coverWrapper {
  max-width: 16rem;
  width: 100%;
  border-radius: 4px;
  box-shadow: var(--shadow-elements);
  margin-bottom: 1.6rem;
  overflow: hidden;
}

.cover {
  display: block;
  width: 100%;
  height: 100%;
}

.item:not(:last-child) {
  margin-bottom: 0.8rem;
}

.descriptionTitle,
.itemLabel {
  margin-bottom: 0.4rem;
}

.descriptionTitleText,
.itemLabelText {
  font-weight: 700;
}

.itemValue {
  margin-left: 1.6rem;
}

.authorItem:not(:last-child) {
  margin-bottom: 0.2rem;
}

.descriptionTitle {
  margin-bottom: 1.6rem;
}

.valueWrapper {
  padding: 1.2rem 1.6rem;
  padding-right: 0;
  background-color: var(--color-secondary);
  height: 25rem;
  border-radius: 4px;
  overflow: hidden;
}

.descriptionValue {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  overflow-y: scroll;
  padding: 0.2rem 0;
  padding-right: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
}

.linksHeader {
  margin-bottom: 1.6rem;
}

.linkItem {
  color: var(--color-primary-contrast);
  text-decoration: none;
}

.linkItem:hover {
  text-decoration: underline;
}

.linkItem:active {
  color: var(--color-text-normal);
}

.linksItem:visited {
  color: var(--color-text-light);
}

.linkItem:not(:last-child) {
  margin-bottom: 0.8rem;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

@media screen and (max-width: 640px) {
  .descriptionWrapper {
    flex-direction: column;
  }
  .left {
    margin-bottom: 2.4rem;
    margin-right: 0;
  }
  .right {
    margin-left: 0;
    padding: 0;
  }
}
